<div id="preloder">
    <div class="loader"></div>
</div>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="assets/img/logo2.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Trang chủ</a></li>
                        <li><a href="/cua-hang">Cửa hàng</a></li>
                        <li><a href="/lien-he">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i><span>0</span></a></li>
                        <li><a href="/gio-hang"><i class="fa fa-shopping-bag"></i> <span>{{gioHang.tongSanPham}}</span></a></li>
                    </ul>
                    <div class="header__cart__price">Tổng: <span>{{gioHang.tongTien| currency: "VND" }}</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-danh-muc></app-danh-muc>
            </div>
            <div class="col-lg-9">
                <app-tim-kiem></app-tim-kiem>
                <div class="hero__item set-bg" data-setbg="/assets/img/banner/pexels-photomix-company-212372.jpg">
                    <div class="hero__text">
                        <span>Metashop - Scam</span>
                        <h2>Phục vụ  <br /> tận tình</h2>
                        <p>Giao hàng nhanh chóng</p>
                        <a href="#" class="primary-btn">Đến cửa hàng ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Một số sản phẩm</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tất cả</li>
                        <li data-filter=".SN">Sony</li>
                        <li data-filter=".CN">Canon</li>
                        <li data-filter=".FJS">Fujifilm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix {{sanpham.nhanHieu}} fresh-meat" *ngFor="let sanpham of listSanPham">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg"  [style.background-image]="'url(./assets/img/'+sanpham.anh1+')'">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a (click)="themVaoGio(sanpham)"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="/chitiet/{{sanpham.id}}">{{sanpham.tenSanPham}}</a></h6>
                        <h5><div *ngIf="sanpham.gia != null; else elseBlock">{{sanpham.gia | currency: "VND" }}</div>
                            <ng-template #elseBlock><span class="text-danger">Liên hệ với cửa hàng</span></ng-template></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <a href="#" class="primary-btn">Xem thêm</a>
            </div>

        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/assets/img/banner/pexels-ylanite-koppens-843226.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/assets/img/banner/pexels-atc-comm-photo-306763.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->

<!-- Latest Product Section End -->

<!-- Blog Section Begin -->

