<div class="header__top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="header__top__left">
                    <ul class="m-0">
                        <li><i class="fa fa-envelope"></i> Scam@metashop.vn</li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 p-0">
                <div class="header__top__right">
                    <div class="header__top__right__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                    <div class="header__top__right__language">
                        <img src="assets/img/Flag.png" alt="" width="20">
                        <div>VNI</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>